
<%- include('../partials/head', { title: 'Authentication Example' }) -%>

<main style="display:inline-flex; width:100%">
    <% if (!locals.public) {%>
    <aside class="dashboard-sidebar" style="width:33%">
        <%- include('../partials/dashboard/dashboard-sidebar') -%>
    </aside>
    <main class="dashboard" style="width:66%">
    <% }%>
  
    <section class="activities" style="width:100%">
  
        <div class="container">
            <h1>Atividades</h1>
            <% if (locals.message) { %>
                <%- message %>
            <% } %>
            <% if (!locals.public) {%>
            <div style="padding-bottom: 12px;">
                <form action="/activity" method="post">
                    <p>
                        <label for="title"> Titulo
                            <input type="text" id="title" name="title">
                        </label>
                    </p>
                    <p>
                        <label for="subject"> Assunto
                            <input type="text" id="subject" name="subject">
                        </label>
                    </p>
                    <p>
                        <!-- <label for="body"> Corpo
                            <textarea type="text" id="body htmeditor" name="body">
                                
                            </textarea>
                        </label> -->
                        <textarea class="htmeditor" name="body" id="body"></textarea>
                    </p>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        <% } %>
        <% if (locals.activities) { %>
            <% for(var i=0; i<activities.length; i++) {%>
                <article>
                    <form class="activities-manager" method="PUT" action="/activity/<%= activities[i].id%>">
                        <button type="button" class="hidden cancel-edit" onclick="toggleForm(this)"></button>
                        <div>
                            <h2 class="data title"><%= activities[i].title %></h2>
                            <input class="hidden" type="text" id="title" name="title" value="<%= activities[i].title %>">
                            <h3 class="data subject"><%= activities[i].subject %></h3>
                            <input class="hidden" type="text" id="subject" name="subject" value="<%= activities[i].subject %>">
                            <div class="data body"><%- activities[i].body %></div>
                            <div class="hidden">
                                <textarea class="htmeditor" id="body" name="body"><%= activities[i].body %></textarea>
                            </div>
                        </div>
                        <% if (!locals.public) {%>
                        
                            
                            
                        
                        <div class="activities-manager-box">
                            
                            <button type="button" class="PUT" onclick="transformToEdit(this)">Editar</button>
                            <button type="button"class="DELETE"onclick="FormManager(this)"> Excluir</button>
                        </div>
                        <% } %>
                    </form>
                </article>
              <% } %>
            <% } %>
        </div>
        <% if (!locals.public) {%>
            <link href="/assets/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="/assets/js/froala_editor.pkgd.min.js"></script>
            <script> 
                var editor = new FroalaEditor('.htmeditor');
            </script>
            <script src="/assets/js/FormManager.js"></script>
            <% } %>