<%- include('partials/head') -%>

    <%- include('partials/containers/navbars/top-navbar') -%>
    <div class="row container m-auto">
        <div class="col-3">
            <%- include('partials/containers/navbars/left-navbar') -%>
        </div>
        <div class="col-6">
            <%- include('partials/containers/contents') -%>
        </div>
        <div class="col-3">
            <%- include('partials/containers/navbars/right-navbar') -%>
        </div>
    </div>

<%- include('partials/foot') -%>
