
<%- include('../partials/head', { title: 'Authentication Example' }) -%>

<main style="display:inline-flex; width:100%">
    <% if (!locals.public) {%>
    <aside class="dashboard-sidebar" style="width:33%">
        <%- include('../partials/dashboard/dashboard-sidebar') -%>
    </aside>
    <main class="dashboard" style="width:66%">
    <% }%>
    
    <% if(locals.public){ %>
    <main class="dashboard" style="width:100%">
    <% } %>
        <div class="container">
            <h1>Atividades</h1>
            <% if (locals.message) { %>
                <%- message %>
            <% } %>
            <% if (!locals.public) {%>
            <form action="/activities" method="post">
                <p>
                    <label for="title"> Titulo
                        <input type="text" id="title" name="title">
                    </label>
                </p>
                <p>
                    <label for="title"> Assunto
                        <input type="text" id="subject" name="subject">
                    </label>
                </p>
                <p></p>
                    <label for="title"> Corpo
                        <textarea type="text" id="body" name="body">
                            
                        </textarea>
                    </label>
                </p>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <% } %>
        <% if (locals.activities) { %>
            <% for(var i=0; i<activities.length; i++) {%>
                <article>
                    <h2><%= activities[i].title %></h2>
                    <h3><%= activities[i].subject %></h3>
                    <%- activities[i].body %>
                </article>
              <% } %>
            <% } %>